*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #06377b;
    text-align: center;
}
a, p, h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Mulish', sans-serif;
}
.shadow {
    box-shadow: inset -6px 12px 0px 0px #06377b;
    padding: 0 0 0 7px;
}
a {
    padding: 5px 20px;
    background-color: #ea616a;
    text-decoration: none;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6{
    display:inline;
    text-transform: uppercase;
}
h1 {
    
    font-size: 40px;
    background-color: #ea616a;
}
h2{
    
    font-size: 33px;
    background-color: #40a89a;
}
h3{
    
    font-size: 27px;
    background-color: #40a89a;
}
img{
    width: 300px;
    height: 300px;
}
header{
    height: 100vh;
    height: 39rem;
    background: url("images/Hero-image.png");
    background-repeat: no-repeat;
    background-size: 155% 153%;
    background-size: cover;
    background-position-y: -195px;
    background-position-x: center;
    background-position: center;
    background-color: #06377b;
    background-blend-mode: darken;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    justify-items: center;
}
.navigation-bar{
    grid-area: 1/1/2/13;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    justify-items: center;
    align-items: center;
}
.location-nav-logo{
    grid-area: 2/1/3/2;
}
.location-nav-choices{
    grid-area: 2/2/3/3;
    justify-self: start;
}
.logo{
    font-size: 40px;
    font-weight: 600;
    text-decoration-line: line-through;
    text-decoration-color: #06377b;
    font-family: 'Mulish', sans-serif;
    text-align: left;
}
.choices{
    list-style: none;
    display: flex;
    color: #06377b;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.choices a{
    color: #06377b;
    padding: 0 34px;
    background-color: white;
    text-decoration: none;
    font-weight: 600;
}
.choices a:hover {
    background-color: #06377b;
    color: white;
}
header > h1{
    grid-area: 7/10/8/11;
    font-weight: 900;
    font-size: 56px;
    background: url(https://color-hex.org/colors/ea616a.png);
    background-size: 100% 100%;
    background-position-x: -14px;
    background-position-y: 26px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 7px;
    text-align: -webkit-left;
}
.learnmore {
    width: fit-content;
    font-size: 40px;
    background-color: rgb(234 97 105);
    text-align: center;
    padding: 1px;
}
.ABOUT {
    height: 107ch;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1.5fr 6fr 4fr 7fr 2fr;
    justify-content: center;
    align-items: center;
}
.ABOUT p {
    font-size: 22px;
    text-align: left;
}
.location-about-child-1 {
    grid-area: 2/3/3/11;
    height: 100%;
}
.about-child-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.location-about-child-2 {
    grid-area: 3/4/4/10;
}
.line-between {
    width: 100%;
    height: 56px;
    position: relative;
}
.line-between-child-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #ea616a;
}
.line-between-child-2 {
    margin: auto;
    width: 24px;
    border: 14px solid;
    border-color: #ea616a transparent transparent transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.location-about-child-3 {
    grid-area: 4/3/5/11;
    height: 100%;
}
.about-child-3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.about-child-3-section1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.about-child-3-section2 > button{
    font-size: 33px;
    background: #ea616a;
    color: white;
    border-style: none;
    padding: 4px 9px;
    font-weight: bold;
}